<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入easyui-->
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
    <script src="layui/layui.all.js"></script>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="my/myui.css">
    <meta charset="UTF-8">
    <title>欢迎光临</title>
</head>
<div class="header" id="head">
    <div class="title"></div>

</div>

<div class="wrap" id="wrap">
    <div class="logGet">
        <!-- 头部提示信息 -->
        <div class="logD logDtip">
            <p class="p1">登录</p>
        </div>
        <!-- 输入框 -->
        <div class="lgD">
            <img src="easyui/themes/icons/man.png" width="20" height="20" alt=""/>
            <input type="text" id="username"
                   placeholder="输入用户名" />
        </div>
        <div class="lgD">
            <img src="easyui/themes/icons/lock.png" width="20" height="20" alt=""/>
            <input type="text" id="password"
                   placeholder="输入用户密码" />
        </div>
        <div class="logC">
            <a href="index.html" target="_self"><button>登 录</button></a>
        </div>
    </div>
</div>

<div class="footer" id="foot">
    <div class="copyright">
        <p>Copyright © 2019 wxy.com Inc. All Rights Reserved.</p>
        <div class="img">
            <i class="icon"></i><span>联系邮箱：2225418354@qq.com</span>
        </div>

        <div class="img">
            <i class="icon1"></i><span>联系地址：广西南宁</span>
        </div>

        <div class="img">
            <i class="icon2"></i><span>联系电话：15777128342</span>
        </div>

    </div>
</div>
</body>

</html>