<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">
    <script type="text/javascript" src="/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
    <script>
        $(function () {

            $('#food1').combotree({
                onCheck:function (node,checked) {

                    getAllCheckedNodes();
                }
            });
            $('#hobby1').combotree({
                onCheck:function (node,checked) {
                    getAllCheckedNodes();

                }
            });
            $('#lang1').combotree({
                onCheck:function (node,checked) {
                    getAllCheckedNodes();

                }
            });
            $('#bb').tagbox({
                onRemoveTag:function (value) {
                    var nodeId=$(value).attr('id');
                    var t = $('#cc').combotree('tree');
                    var node = t.tree('find', nodeId);
                    t.tree('uncheck', node.target);
                }
            })


            $('#mainNode').combotree({
                onCheck:function (node,checked) {
                    var t = $('#mainNode').combotree('tree');
                    var checkedNodes = t.tree('getChecked');
                    var uncheckNodes = t.tree('getChecked', 'unchecked');
                    for(var i=0;i<checkedNodes.length;i++){
                            $('#'+checkedNodes[i].id).show();
                    }
                    for(var i=0;i<uncheckNodes.length;i++){
                        $('#'+uncheckNodes[i].id).hide();
                        var t = $('#'+uncheckNodes[i].id+'1').combotree('tree');
                        //console.log('#'+uncheckNodes[i].id+'1');
                        var checkedNode = t.tree('getChecked');
                        if(checkedNode.length!=0){
                            for(var j=0;j<checkedNode.length;j++){
                                t.tree('uncheck',checkedNode[j].target)
                            }

                        }
                    }
                }
            });

        })
     function getAllCheckedNodes() {
         var allNodeArray=new Array();
         var foodNodes = $('#food1').combotree('tree').tree('getChecked');
         var foodArray=new Array();
         for(var i=0;i<foodNodes.length;i++){
             if(foodNodes[i].id>10){
                 var content='<span id='+foodNodes[i].id +'>'+foodNodes[i].text+'</span>';
                 foodArray.push(content);
                 allNodeArray.push(content);
             }
         }
         var hobbyNodes = $('#hobby1').combotree('tree').tree('getChecked');
         var hobbyArray=new Array();
         for(var i=0;i<hobbyNodes.length;i++){
             if(hobbyNodes[i].id>10){
                 var content='<span id='+hobbyNodes[i].id +'>'+hobbyNodes[i].text+'</span>';
                 hobbyArray.push(content);
                 allNodeArray.push(content);
             }
         }

         var langNodes = $('#lang1').combotree('tree').tree('getChecked');
         var langArray=new Array();
         for(var i=0;i<langNodes.length;i++){
             if(langNodes[i].id>10){
                 var content='<span id='+langNodes[i].id +'>'+langNodes[i].text+'</span>';
                 langArray.push(content);
                 allNodeArray.push(content);
             }
         }

         $('#bb').combobox('setValues', []);
         $('#bb').combobox('setValues', allNodeArray);
     }
    </script>
</head>
<body style="background-color: #8D8D8D">
<div>
    <input class="easyui-combotree" id="mainNode" data-options="url:'../DataController/getMainTreeData',method:'post',
      multiple:true,checkbox:true" style="width:200px;">
    <input class="easyui-tagbox" id="bb" value="" style="width:30%;float: left">
</div>
<div id="some">

    <div style="float: left;display: none" id="food">
        <input class="easyui-combotree" id="food1" data-options="url:'../DataController/getTreeData?code=food',method:'post',
         multiple:true,checkbox:true" style="width:200px;">
    </div>
    <div style="float: left;display: none" id="hobby">
        <input class="easyui-combotree" id="hobby1" data-options="url:'../DataController/getTreeData?code=hobby',method:'post',
         multiple:true,checkbox:true" style="width:200px;">
    </div>
    <div style="float: left;display: none" id="lang">
        <input class="easyui-combotree" id="lang1" data-options="url:'../DataController/getTreeData?code=lang',method:'post',
         multiple:true,checkbox:true" style="width:200px;">
    </div>
</div>
  <div>


  </div>


</body>
</html>